.masthead.segment {
    min-height: 500px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
.masthead p{
    color: white;
}
.twelve.wide.column h1.ui.header{
    margin-top: 1.33em;
    font-size: 3em;
}
.fourteen.wide.column h2{
    margin-top: 2em;
    margin-bottom: .25em;
    font-size: 2.5em;
    font-weight: normal;
}
.ui.striped.table  th{
    font-size: 1.2em;
}
.ui.link.list{
   margin-top: 1.2em; 
}
.twelve.wide.column .ui.vertical.stripe.segment{
    margin-top: 1.2em;
}
h2 {
  text-align: center;
}

.right {
  float: right;
}
.footer{
    margin-top: 150px;
}
